<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
</head>

<body>
    {% block logged_in %}
    {% endblock %}

    <div id="title">{% block title %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div id="debug">{% block debug %}{% endblock %}</div>
</body>

</html>