<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/tailwind.css">
    <link rel="icon" type="image/png" href="https://itsupportguys.com/wp-content/uploads/2019/12/favicon.png">
    {% block head %}{% endblock %}
</head>

<body>
    {% block logged_in %}
    {% endblock %}

    <div id="content">{% block title %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>