{% extends "logged_in.j2" %}
{% block head %}
{% if files %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="/static/script.js"></script>
{% endif %}

{% endblock %}
{% block title %}<h2>Explore</h2>{% endblock %}

{% block content %}
  {% if leaf %}
      {% if leaf %}
      <a href="{{ request.path|parent }}">Go Back to Month View</a>
      <br>
      <br>
      {% endif %}
    {% for file in files %}
      {% if metadata[request.path[1:] + "/" + file ] %}
      <table width="100%">
          <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Init. #</th>
              <th>Recv. #</th>
              <th>Incoming?</th>
              <th>Duration</th>
              <th>Text</th>
          </tr>
          <tr>
              <td>{{ metadata[request.path[1:] + "/" + file ]["date_time"].date() }}</td>
              <td>{{ metadata[request.path[1:] + "/" + file ]["date_time"].time() }}</td>
              <td>{{ metadata[request.path[1:] + "/" + file ]["initiating"] }}</td>
              <td>{{ metadata[request.path[1:] + "/" + file ]["receiving"] }}</td>
              <td>{% if metadata[request.path[1:] + "/" + file ]["incoming"] %}Incoming{% else %}Outgoing{%endif%}</td>
              <td>{{ metadata[request.path[1:] + "/" + file ]["duration"] | seconds_fmt }}</td>
              <td>{{ metadata[request.path[1:] + "/" + file ]["text"] }}</td>
          </tr>
      </table>
      {% else %}
      <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
          {{ (request.path + '/' if request.path != '/' else '') + file }}
      </a>
      <br>
      Metadata has not yet been gathered.
      {% endif %}
    <br>
    <audio controls  preload="none" class="audio_player">
        <source src="{{ (request.path + '/' if request.path != '/' else '') + file }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <br>
    <input type="range" class="playback_rate" min=.5 max=3 value=1 step=.1>
    <label for="playback_rate">Global Playback Rate</label>
      {% if not loop.last %}
      <br>
      <br>
      <br>
      {% endif %}
    {% endfor %}
  {% else %}
    <ul>
        {% if not request.path == "/" %}
          <li>
            <a href="{{ request.path|parent }}">..</a>
          </li>
        {% endif %}

        {% for file in files %}
        <li>
            <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                {{ (request.path + '/' if request.path != '/' else '') + file }}
            </a>
        </li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}