{% extends "logged_in.j2" %}
{% block title %}<h2 class="mb-4">Explore</h2>{% endblock %}

{% block content %}
<title>Explore | HD Recordings - IT Support Guys</title>

  {% if leaf %}
      {% if leaf %}
      <a href="{{ request.path|parent }}" class="inline-flex overflow-hidden text-white bg-gray-900 rounded group ml-0">
        <span class="px-3.5 py-2 text-white bg-purple-500 group-hover:bg-purple-600 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
          </svg>
        </span>
        <span class="pl-4 pr-5 py-2.5">Back to {{ request.path|parent }}</span>
      </a>
      <br>
      <br>
      {% endif %}
    {% for file in files %}
      {% if metadata[request.path[1:] + "/" + file ] %}
        <table class="w-full flex flex-row flex-no-wrap sm:shadow-lg my-5">
          <thead class="text-white">
            <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <th class="p-3 text-left">Date/Time</th>
              <th class="p-3 text-left">Initiating</th>
              <th class="p-3 text-left">Recieving</th>
              <th class="p-3 text-left">Direction</th>
              <th class="p-3 text-left">Duration</th>
              <th class="p-3 text-left">Transcription</th>
            </tr>
          </thead>
          <tbody class="flex-1 sm:flex-none">
            <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <td class="border p-3">
                  {{ metadata[request.path[1:] + "/" + file ]["date_time"].date() }} / 
                  {{ metadata[request.path[1:] + "/" + file ]["date_time"].time() }}
              </td>
              <td class="border p-3">
                  {{ metadata[request.path[1:] + "/" + file ]["initiating"] }}
              </td>
              <td class="border p-3">
                  {{ metadata[request.path[1:] + "/" + file ]["receiving"] }}
              </td>
              <td class="border p-3">
                  {% if metadata[request.path[1:] + "/" + file ]["incoming"] %}Incoming{% else %}Outgoing{%endif%}
              </td>
              <td class="border p-3">
                  {{ metadata[request.path[1:] + "/" + file ]["duration"] | time_fmt }}
              </td>
              <td class="border p-3">
                  {{ metadata[request.path[1:] + "/" + file ]["text"] }}
              </td>
            </tr>
          </tbody>
        </table>
      {% else %}
      <table class="w-full flex flex-row flex-no-wrap sm:shadow-lg my-5">
          <thead class="text-white">
            <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <th class="p-3 text-left">File</th>
              <th class="p-3 text-left">Information</th>
            </tr>
          </thead>
          <tbody class="flex-1 sm:flex-none">
            <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <td class="border p-3">
                <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                    {{ (request.path + '/' if request.path != '/' else '') + file }}
                </a>
              </td>
              <td class="border p-3">
                Metadata has not yet been gathered.
              </td>
            </tr>
          </tbody>
      </table>
      {% endif %}
    <br>
    <audio controls>
        <source src="{{ (request.path + '/' if request.path != '/' else '') + file }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
      {% if not loop.last %}
      <br>
      <br>
      <br>
      {% endif %}
    {% endfor %}
  {% else %}
    <ul>
        {% if not request.path == "/" %}
          <li>
            <a href="{{ request.path|parent }}" class="inline-flex overflow-hidden text-white bg-gray-900 rounded group">
              <span class="px-3.5 py-2 text-white bg-purple-500 group-hover:bg-purple-600 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
                </svg>
              </span>
              <span class="pl-4 pr-5 py-2.5">{{ request.path }}</span>
            </a>
          </li>
          <br>
        {% endif %}

        {% for file in files %}
        <li>
          <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}" class="inline-flex overflow-hidden text-white bg-gray-900 rounded group ml-8">
            <span class="px-3.5 py-2 text-white bg-purple-500 group-hover:bg-purple-600 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
              </svg>
            </span>
            <span class="pl-4 pr-5 py-2.5">{{ file }}</span>
          </a>
        </li>
        <br>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}