<!doctype html>
<html lang="en">

<head>
</head>

<body>
    <div>
        <h2>stt</h2>
    </div>
    <div>
        <a href="{{ url_for("run_inventory") }}"> Run inventory</a>
    </div>
    <div>
        <ul>
            {% for file in files %}
            <li>
                <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                    {{ (request.path + '/' if request.path != '/' else '') + file }}
                </a>
                {% if leaf %}
                <br>
                <br>
                <audio controls>
                    <source src="{{ (request.path + '/' if request.path != '/' else '') + file }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}
                <br>

                {% if metadata[request.path[1:] + "/" + file ] %}
              		<table style="border: 1px solid black;" width="100%">
              			<tr>
              				<th>Time & Date</th>
              				<th>Initiating #</th>
              				<th>Receiving #</th>
              				<th>Incoming?</th>
              				<th>Duration (min)</th>
              				<th>Text</th>
              			</tr>
              			<tr>
              				<td>{{ metadata[request.path[1:] + "/" + file ]["date_time"] }}</td>
              				<td>{{ metadata[request.path[1:] + "/" + file ]["number2"] }}</td>
              				<td>{{ metadata[request.path[1:] + "/" + file ]["number1"] }}</td>
              				<td>{{ metadata[request.path[1:] + "/" + file ]["incoming"] }}</td>
              				<td>{{ metadata[request.path[1:] + "/" + file ]["duration"]|int / 60 }}</td>
              				<td>{{ metadata[request.path[1:] + "/" + file ]["text"] }}</td>
              			</tr>
              		<table>





                {% endif %}
                <br><br>

            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>