<!doctype html>
<html lang="en">
	<head>
	</head>
	<body>
		<div>
			<h2>stt</h2>
		</div>
		<div>
			<ul>
			    {% for file in files %}
			    <li>
			        <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
			            {{ (request.path + '/' if request.path != '/' else '') + file }}
			        </a>
			        {% if leaf %}
			        <br>
			        <br>
			        <audio controls>
			        	<source src="{{ (request.path + '/' if request.path != '/' else '') + file }}" type="audio/wav">
			        	Your browser does not support the audio element.
			        </audio>
			        {% endif %}
			    </li>
			    {% endfor %}
			</ul>
		</div>
	</body>
</html>