{% extends "base.j2" %}
{% block title %}<h2>Login</h2>{% endblock %}

{% block content %}
	<form method="POST">
		<input type="password" name="password">
		<label for="password">Password</label>
		<br><br>
		<input type="submit">
{% endblock %}