{% extends "logged_in.j2" %}
{% block head %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="/static/script.js"></script>
<script type="text/javascript" src="/static/daterangepicker.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/jquery.mark.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
{% endblock %}
{% block title %}<h2>Search</h2>{% endblock %}
{% block content %}
  <title>Search | HD Recordings - IT Support Guys</title>
  <form class="text-gray-200 font-semibold">
    <div class="lg:w-2/3 bg-gray-600 rounded-xl shadow-lg p-4 px-4 md:p-8 mb-6">

      <div class="lg:col-span-2">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">
          <div class="md:col-span-4">
            <label for="text">Text</label>
            <input type="text" name="text" autocomplete="off" class="mb-2 text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" id="text_input" {%if args %}value="{{ args['text'] }}"{% endif %}>
            <input type="checkbox" name="regex" {% if args and args['regex'] == 'on' %}checked="checked"{% endif %}>
            <label for="regex">^ Use <a href="https://pythex.org" target="_blank" class="underline">regular expressions</a>!</label>
          </div>

          <div class="md:col-span-4">
            <label for="date_filter">Timeframe</label>
            <input type="text" name="date_filter" class="text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" autocomplete="off" {% if args %}value="{{ args['date_filter'] }}"{% endif%}>
          </div>

          <div class="md:col-span-2">
            <label for="initiating">Initiating #</label>
            <input type="number" min="0" name="initiating" autocomplete="off" class="teleNum text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['initiating'] }}"{% endif%}>
          </div>

          <div class="md:col-span-2">
            <label for="receiving">Receiving #</label>
            <input type="number" min="0" name="receiving" autocomplete="off" class="teleNum text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['receiving'] }}"{% endif%}>
          </div>

          <div class="md:col-span-4">
              <label for="receiving">Initiating or Receiving #</label>
              <input type="number" min="0" name="bi-directional" autocomplete="off" class="teleNum text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['bi-directional'] }}"{% endif%}>
          </div>

          <div class="md:col-span-2">
              <div class="inline-flex items-center">
                <input type="checkbox" name="incoming" class="form-checkbox" {% if args and args['incoming'] == 'on' %}checked="checked"{% endif %}>
                <label for="incoming" class="ml-2">Incoming</label>
              </div>
          </div>

          <div class="md:col-span-2">
              <div class="inline-flex items-center">
                <input type="checkbox" name="outgoing" class="form-checkbox" {% if args and args['outgoing'] == 'on' %}checked="checked"{% endif %}>
                <label for="outgoing" class="ml-2">Outgoing</label>
              </div>
          </div>

          <div class="md:col-span-2">
              <label>Min. Duration (mins)</label>
              <input type="number" min="0" name="min_duration" class="text-black duration h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['min_duration'] }}"{% endif%}>
          </div>

          <div class="md:col-span-2">
              <label>Max. Duration (mins)</label>
              <input type="number" min="0" name="max_duration" class="text-black duration h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['max_duration'] }}"{% endif%}>
          </div>

          <div class="md:col-span-2">
              <label>Logical Operator (across all fields):</label><br>
              <input type="radio" name="logic" value="and" {% if args and args['logic'] == 'and' %}checked="checked"{% elif not args %}checked="checked"{% endif %}>
              <label for="and" class="pr-5">AND</label>

              <input type="radio" name="logic" value="or" {% if args and args['logic'] == 'or' %}checked="checked"{% endif %}>
              <label for="or">OR</label>
          </div>

          <div class="md:col-span-4 text-right">
            <div class="inline-flex items-end">
              <button class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded">Submit</button>
            </div>
          </div>
          </div>
        </div>
    </div>
  </form>

{% if results %}
  <div class="text-gray-200">
    <h3>{{ results | length }} Results:</h3>
    Total duration: {{ total_duration | seconds_fmt }}
    <br>
    Average duration: {{ average_duration | seconds_fmt }}
    <br>
  </div>

  {% for result in results %}
  <table class="w-full flex flex-row flex-no-wrap sm:shadow-lg my-5">
      <thead class="text-white">
        <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
          <th class="p-3 text-left">Date/Time</th>
          <th class="p-3 text-left">Initiating</th>
          <th class="p-3 text-left">Recieving</th>
          <th class="p-3 text-left">Direction</th>
          <th class="p-3 text-left">Duration</th>
          <th class="p-3 text-left">Transcription</th>
        </tr>
      </thead>
      
      <tbody class="flex-1 sm:flex-none">
        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
          <td class="border p-3">
              {{ result.date_time.date() }} /
              {{ result.date_time.time() }}
          </td>
          <td class="border p-3">
              {{ result.initiating }}
          </td>
          <td class="border p-3">
              {{ result.receiving }}
          </td>
          <td class="border p-3">
              {% if result.incoming %}Incoming{% else %}Outgoing{%endif%}
          </td>
          <td class="border p-3">
              {{ result.duration | seconds_fmt }}
          </td>
          <td class="border p-3 text_output">
            {% if args.get("regex") %}
              {{ result.text | regex_capture(args['text']) }}
            {% else %}
              {{ result.text }}
            {% endif%}
          </td>
          <td class="border p-3">
            <audio controls preload="none" class="audio_player mb-2">
                <source src="/{{ result.path }}" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <input type="range" class="playback_rate" min=.5 max=3 value=1 step=.1>
            <label for="playback_rate">Global Playback Rate</label>
          </td>

        </tr>
      </tbody>
  </table>
  {% endfor %}
{% endif %}

{% endblock %}
{% block debug %}
  {{ results }}
{% endblock %}