{% extends "logged_in.j2" %}
{% block head %}
{% if results %}
{% endif %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="/static/script.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">

{% endblock %}
{% block title %}<h2>Search</h2>{% endblock %}
{% block content %}
  <title>Search | HD Recordings - IT Support Guys</title>
  <form class="text-gray-200 font-semibold">
        <div class="lg:w-2/3 bg-gray-600 rounded-xl shadow-lg p-4 px-4 md:p-8 mb-6">

            <div class="lg:col-span-2">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">
                <div class="md:col-span-4">
                  <label for="text">Text</label>
                  <input type="text" name="text" class="text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" {%if args %}value="{{ args['text'] }}"{% endif %}>
                </div>
  
                <div class="md:col-span-4">
                  <label for="date_filter">Timeframe</label>
                  <input type="text" name="date_filter" class="text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" autocomplete="off" {% if args %}value="{{ args['date_filter'] }}"{% endif%}>
                </div>
  
                <div class="md:col-span-2">
                  <label for="initiating">Initiating #</label>
                  <input type="number" min="0" name="initiating" class="teleNum text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['initiating'] }}"{% endif%}>
                </div>
  
                <div class="md:col-span-2">
                  <label for="receiving">Receiving #</label>
                  <input type="number" min="0" name="receiving" class="teleNum text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['receiving'] }}"{% endif%}>
                </div>
  
                <div class="md:col-span-4">
                    <label for="receiving">Initiating or Receiving #</label>
                    <input type="number" min="0" name="bi-directional" class="teleNum text-black h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['bi-directional'] }}"{% endif%}>
                </div>

                <div class="md:col-span-2">
                    <div class="inline-flex items-center">
                      <input type="checkbox" name="incoming" class="form-checkbox" {% if args and args['incoming'] == 'on' %}checked="checked"{% endif %}>
                      <label for="incoming" class="ml-2">Incoming</label>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <div class="inline-flex items-center">
                      <input type="checkbox" name="outgoing" class="form-checkbox" {% if args and args['outgoing'] == 'on' %}checked="checked"{% endif %}>
                      <label for="outgoing" class="ml-2">Outgoing</label>
                    </div>
                </div>

                <div class="md:col-span-2">
                    <label>Min. Duration (mins)</label>
                    <input type="number" min="0" name="min_duration" class="text-black duration h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['min_duration'] }}"{% endif%}>
                </div>

                <div class="md:col-span-2">
                    <label>Max. Duration (mins)</label>
                    <input type="number" min="0" name="max_duration" class="text-black duration h-10 border mt-1 rounded px-4 w-full bg-gray-50" {% if args %}value="{{ args['max_duration'] }}"{% endif%}>
                </div>

                <div class="md:col-span-2">
                    <label>Logical Operator (across all fields):</label><br>
                    <input type="radio" name="logic" value="and" {% if args and args['logic'] == 'and' %}checked="checked"{% elif not args %}checked="checked"{% endif %}>
                    <label for="and" class="pr-5">AND</label>

                    <input type="radio" name="logic" value="or" {% if args and args['logic'] == 'or' %}checked="checked"{% endif %}>
                    <label for="or">OR</label>
                </div>
  
                <div class="md:col-span-4 text-right">
                  <div class="inline-flex items-end">
                    <button class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded">Submit</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
{% if results %}
  <div class="text-gray-200">
    <h3>{{ results | length }} Results:</h3>
    Total duration: {{ total_duration | time_fmt }}
    <br>
    Average duration: {{ average_duration | time_fmt }}
    <br>
    <br>
  </div>

  <table width="100%">
      <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Init. #</th>
          <th>Recv. #</th>
          <th>Incoming?</th>
          <th>Duration</th>
          <th>Text</th>
          <th>Audio</th>
      </tr>
    {% for result in results %}
        <tr>
            <td>{{ result.date_time.date() }}</td>
            <td>{{ result.date_time.time() }}</td>
            <td>{{ result.initiating }}</td>
            <td>{{ result.receiving }}</td>
            <td>{% if result.incoming %}Incoming{% else %}Outgoing{%endif%}</td>
            <td>{{ result.duration | time_fmt }}</td>
            <td>{{ result.text }}</td>
            <td>
              <audio controls>
                  <source src="/{{ result.path }}" type="audio/wav">
                  Your browser does not support the audio element.
              </audio>
            </td>
        </tr>
    {% endfor %}
  </table>
  <br>
  {{ results }}
{% endif %}

</form>
{% endblock %}